.y-button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;

    color: var(--c-dark-blue-800);
    text-align: center;
    text-decoration: none;

    background-color: transparent;
    border: 2px solid transparent;
    border-radius: var(--br-3);
    outline: none;

    transition: var(--transition-default);

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;

        font: var(--font-regular);
        font-weight: 500;
        text-align: center;
        word-wrap: break-word;

        &--overview {
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    svg {
        transition: var(--transition-default);
    }

    &--full-width {
        width: 100%;
        max-width: 100%;
    }

    &--bold .y-button__content {
        font-weight: 700;
    }

    &--medium {
        height: 60px;
        padding: 20px;
    }

    &--small {
        height: 40px;
        padding: 10px 20px;

        &.y-button--icon {
            width: 40px;
            height: 40px;
        }

        &.y-button--additional {
            padding: 10px 0;
        }

        &.y-button--underline {
            .y-button__content {
                font: var(--font-secondary);
            }
        }
    }

    &--disabled,
    &--loading {
        pointer-events: none;
        cursor: default;
    }

    &--disabled {
        color: var(--c-dark-blue-300);

        &.y-button {
            &--primary {
                color: var(--c-dark-blue-300);
                background-color: var(--c-dark-blue-100);
            }

            &--primary-black {
                background-color: var(--c-dark-blue-300);
            }

            &--secondary {
                color: var(--c-dark-blue-300);
                border-color: var(--c-dark-blue-100);

                .y-button__content--icon path {
                    fill: var(--c-dark-blue-300);
                }
            }

            &--additional {
                color: var(--c-dark-blue-300);

                .y-button__content--icon path {
                    fill: var(--c-dark-blue-300);
                }
            }

            &--icon {
                border-color: transparent;
            }
        }

        svg {
            fill: var(--c-dark-blue-300);
        }
    }

    &--icon {
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 50%;

        &.y-button--secondary {
            background-color: transparent;
            border-color: transparent;
            transition: all 3s ease-out;

            &:hover,
            &:active,
            &.disabled {
                border-color: transparent;
            }
        }

        &:hover {
            &.y-button--secondary,
            &.y-button--additional {
                svg {
                    fill: var(--c-yellow-500);
                }
            }
        }

        &:active {
            &.y-button--secondary,
            &.y-button--additional {
                svg {
                    fill: var(--c-yellow-600);
                }
            }
        }
    }

    &--primary {
        background-color: var(--c-yellow-400);
    }

    &--primary-black {
        color: var(--c-white);
        background-color: var(--c-dark-blue-800);
    }

    &--secondary {
        background-color: var(--c-white);
        border-color: var(--c-yellow-400);
    }

    &--tertiary {
        width: 100%;
        max-width: 200px;
        height: var(--space-l);
        padding: var(--space-s) var(--space-m);

        background-color: var(--c-sea-blue-200);
    }

    &--underline {
        display: inline-flex;

        height: auto;
        padding: 0;

        color: var(--c-dark-blue-800);
        text-decoration: underline;

        border: none;

        .y-button__content {
            display: inline-flex;
            font: var(--font-regular);
            font-weight: 500;
        }
    }
}

@media (hover: hover) {
    .y-button--primary {
        &:hover {
            background-color: var(--c-yellow-500);
        }

        &:active {
            background-color: var(--c-yellow-600);
        }
    }

    .y-button--primary-black {
        &:hover {
            background-color: var(--c-dark-blue-600);
        }

        &:active {
            background-color: var(--c-dark-blue-500);
        }
    }

    .y-button--secondary {
        &:hover {
            border-color: var(--c-yellow-500);
        }

        &:active {
            border-color: var(--c-yellow-600);
        }
    }

    .y-button--tertiary {
        &:hover {
            background-color: var(--c-sea-blue-300);
        }

        &:active {
            background-color: var(--c-sea-blue-400);
        }
    }

    .y-button--underline {
        &:hover {
            color: var(--c-yellow-500);
        }

        &:active {
            color: var(--c-yellow-600);
        }
    }

    .y-button--additional {
        &:hover {
            color: var(--c-yellow-500);

            svg {
                fill: var(--c-yellow-500);
            }
        }

        &:active {
            color: var(--c-yellow-600);

            svg {
                fill: var(--c-yellow-600);
            }
        }

        &.hover-stroke-icon {
            &:hover svg {
                fill: none;
                stroke: var(--c-yellow-500);
            }

            &:active svg {
                fill: none;
                stroke: var(--c-yellow-600);
            }
        }
    }

    .y-button--hover-stroke-icon {
        &:hover svg {
            stroke: var(--c-yellow-500);
        }

        &:active svg {
            stroke: var(--c-yellow-600);
        }
    }
}
@media (hover: none) {
    .y-button--primary:active {
        background-color: var(--c-yellow-500);
    }

    .y-button--primary-black:active {
        background-color: var(--c-dark-blue-600);
    }

    .y-button--secondary:active {
        border-color: var(--c-yellow-500);
    }

    .y-button--tertiary:active {
        background-color: var(--c-sea-blue-300);
    }

    .y-button--underline:hover {
        color: var(--c-yellow-500);
    }

    .y-button--additional:active {
        color: var(--c-yellow-500);

        svg {
            fill: var(--c-yellow-500);
        }

        &.hover-stroke-icon:active svg {
            fill: none;
            stroke: var(--c-yellow-500);
        }
    }

    .y-button--hover-stroke-icon:active svg {
        stroke: var(--c-yellow-500);
    }
}
